@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f8fafc;
    color: #224152;
    padding: 40px;
}

#header{
    background-color: #2c3e50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    height: 70px;
    box-sizing: border-box;
}

#menu{
    display: flex;
    gap: 20px;
    list-style: none;
   
}

#menu a{
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

#menu a:hover{
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    color: #ff0;
}

.logo{
    color: #dbeafe;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

#btn-mobile{
    display: none;
}

@media (max-width: 768px){
    #btn-mobile{
        display: block;
        background: none;
        cursor: pointer;
        font-size: 1.5rem;
        color: #fff;
    }

    #menu{
        display: none;
        position: absolute;
        top: 100px;
        right: 100px;
        background-color: #2c3e50;
        flex-direction: column;
        gap: 10px;
        width: 200px;
        padding: 20px;
        z-index: 10000;
    }

    #menu.active{
        display: flex !important;
    }

    header{
        display: flex;
        justify-content: space-around;
    }
}

main{
    padding: 40px;
    margin: 0 auto;
    max-width: 1200px;
}

h2 {
    margin-bottom: 15px;
    border-left: 5px solid #3b82f6;
    margin-top: 40px;
}

.card {
    background-color: #fff;
    border: solid 1px #e2e8f0;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 05);
    width: 200px;
    margin: 10px;
}

.card h3 {
    margin-bottom: 10px;
    color: #334155;
}

.card p {
    color: #64748b;
    font-size: 0.9rem;
}

/*----Container float*/
.container-float {
    background-color: #e2e8f0;
    padding: 20px;
    overflow: auto;
}

#centralizer {
    width: 660px;
    margin: 0 auto;
}

.card-float {
    float: left;
}

/*----Flexbox float*/
.container-flexbox {
    background-color: #dbeafe;
    padding: 20px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card-flexbox {
    height: 100px;
}

/*----GRID----*/

.container-grid {
    background-color: #dcfce7;
    padding: 20px;

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(200px 1fr));
}

.celular {
    margin-top: 15px;
    background-color: #3b82f6;
    color: #fff;
    padding: 20px;
}

#whatsapp {
    background-color: #fff;
    width: 100px;
    border-radius: 100px;
    box-shadow: 7px 4px 27px 4px rgba(0, 0, 0, 0.24);

    position: fixed;
    bottom: 10px;
    right: 10px;

    transition: bottom 0.3s ease-in-out;

    animation: subirDescer 1.5s ease-in-out infinite;
}

#whatsapp:hover {
    bottom: 20px;
    background-color: #334155;
    transition: bottom 0.3s ease-in-out;
}

#whats-img {
    width: 100%;
}

#notification {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 100px;

    position: absolute;
    top: 150;
    right: 5px;
    top: -5px;
}

#seta{
    width: 95px;
    height: 95px;
    background-color: #fff;
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 10px;
    left: 10px;
}

#seta-img{
    width: 75%;
}

@keyframes subirDescer {
    0% {
        bottom: 10px
    }

    50% {
        bottom: 25px;
    }

    100% {
        bottom: 10px;
    }
}

@media(max-width:430px) {
    .celular {
        display: block;
        background-color: blue;
    }
}