body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
    padding: 20px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

.card{
    background-color: #fff;
    max-width: 450px;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

form{
    display: flex;
    gap: 10px;
}

input{
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button{
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #3b82f6;
    color: #fff;
}

button:hover{
    background-color: #1d4ed8;
}